<section id="about" class="scroll-mt-24 container mx-auto text-white my-18 px-4">
    <div class="flex flex-col lg:flex-row gap-10 justify-between items-center px-5 lg:px-12">

        <!-- Left Side -->
        <div class="flex flex-col items-start gap-4 w-full max-w-2xl">
            <div class="flex justify-start items-center gap-x-4">
                <h3 class="main-title text-xl font-bold main-linear">
                    {{"about.title" | translate}}
                </h3>
                <div
                    class="main-title-line">
                </div>
            </div>


            <p class="text-3xl sm:text-4xl lg:text-5xl font-extrabold leading-tight">
                {{"about.heading1" | translate}} <br>
                {{"about.heading2" | translate}}
                <span class="main-linear bg-clip-text text-transparent">
                    {{"about.heading3" | translate}}
                </span>
            </p>

            <p class="text-base sm:text-lg lg:text-xl text-gray-200 leading-relaxed">
                {{"about.description" | translate}}
            </p>

            <div class="p-0.5 main-linear flex rounded-xl">
                <div class="hidden bg-transparent border border-purple-300 py-3 px-5 rounded-xl">
                    <a href="" class="text-white/85 font-medium">
                        <i class="fa-solid fa-user text-fuchsia-400"></i>
                        {{"about.moreAbout" | translate}}
                    </a>
                </div>
            </div>
        </div>

        <!-- Right Side -->
        <div
            class="w-full flex justify-between items-center border border-gray-700 bg-gray-800/20 py-4 px-5 rounded-2xl">

            <div class="flex flex-col items-start gap-5">

                <!-- Name -->
                <div class="flex items-start gap-3">
                    <div class="text-2xl main-linear bg-clip-text text-transparent">
                        <i class="fa-solid fa-user"></i>
                    </div>
                    <div>
                        <span class="block">
                            {{"about.name" | translate}}:
                        </span>
                        <h3 class="font-extrabold text-xl sm:text-2xl">
                            {{"about.fullName" | translate}}
                        </h3>
                    </div>
                </div>

                <!-- Email -->
                <div class="flex items-start gap-3">
                    <div class="text-2xl main-linear bg-clip-text text-transparent">
                        <i class="fa-solid fa-envelope"></i>
                    </div>
                    <div>
                        <span class="block">
                            {{"about.email" | translate}}:
                        </span>
                        <h3 class="font-extrabold text-sm sm:text-base">
                            eslambadr0110@gmail.com
                        </h3>
                    </div>
                </div>

                <!-- Location -->
                <div class="flex items-start gap-3">
                    <div class="text-2xl main-linear bg-clip-text text-transparent">
                        <i class="fa-solid fa-location-dot"></i>
                    </div>
                    <div>
                        <span class="block">
                            {{"about.location" | translate}}:
                        </span>
                        <h3 class="font-extrabold">
                            {{"about.city" | translate}}
                        </h3>
                    </div>
                </div>

                <!-- Availability -->
                <div class="flex items-start gap-3">
                    <div class="text-2xl main-linear bg-clip-text text-transparent">
                        <i class="fa-solid fa-clock"></i>
                    </div>
                    <div>
                        <span class="block">
                            {{"about.availability" | translate}}:
                        </span>
                        <h3 class="font-extrabold text-green-400">
                            {{"about.status" | translate}}
                        </h3>
                    </div>
                </div>

            </div>

            <!-- Image -->
            <div class="hidden md:flex w-48 h-48 lg:w-60 lg:h-60">
                <img src="/img/skills.png" class="object-contain w-full h-full" alt="Skills Illustration">
            </div>

        </div>

    </div>
</section>