<section id="contact" class="scroll-mt-24 container mx-auto text-white my-16">

    <div class="flex flex-col lg:flex-row justify-between items-start relative gap-12 px-10 md:px-16 ">

        <div class="flex flex-col gap-6 w-full lg:w-1/2">
            <div class="flex flex-col gap-5">
                <div class="flex justify-start items-center gap-x-4">
                    <h3 class="main-title text-xl main-linear font-bold inline-block">
                        {{"contact.title" | translate}}
                    </h3>
                    <div class="main-title-line"></div>
                </div>

                <h4 class="text-3xl xl:text-4xl font-extrabold">
                    {{"contact.heading1" | translate}} <span class="main-linear">{{"contact.heading2" |
                        translate}}!</span>
                </h4>

                <p class="text-white/80">{{"contact.description" | translate}}</p>
            </div>

            <div class="flex flex-col gap-3 justify-start items-start">
                <a href="mailto:eslambadr0110@gmail.com"
                    class="flex items-center gap-3 hover:text-fuchsia-400 transition-colors">
                    <i class="fa-solid fa-envelope main-linear w-5"></i> eslambadr0110@gmail.com
                </a>
                <a href="tel:+201159266994" class="flex items-center gap-3 hover:text-fuchsia-400 transition-colors">
                    <i class="fa-solid fa-phone main-linear w-5"></i> {{"contact.number" | translate}}
                </a>
                <span class="flex items-center gap-3">
                    <i class="fa-solid fa-location-dot main-linear w-5"></i> {{"contact.location" | translate}}
                </span>
            </div>
        </div>

        <div class="w-full lg:w-1/2">
            <form #contactForm action="https://formspree.io/f/xojorwbq" method="POST" class="flex flex-col gap-5">

                <div>
                    <label for="email" class="block mb-2.5 text-sm font-medium ">{{"contact.emailLabel" |
                        translate}}</label>
                    <input #emailInput (input)="checkForm(emailInput.value, messageInput.value)" type="email" id="email"
                        name="email"
                        class="bg-neutral-secondary-medium border border-default-medium text-heading text-sm rounded-base focus:ring-brand focus:border-brand block w-full px-3 py-2.5 shadow-xs placeholder:text-body outline-none transition-colors"
                        placeholder="john.doe@company.com" required />
                </div>

                <div>
                    <label for="message" class="block mb-2.5 text-sm font-medium ">{{"contact.messageLabel" |
                        translate}}</label>
                    <textarea #messageInput (input)="checkForm(emailInput.value, messageInput.value)" id="message"
                        name="message" rows="4"
                        class="bg-neutral-secondary-medium border border-default-medium text-heading text-sm rounded-base focus:ring-brand focus:border-brand block w-full p-3.5 shadow-xs placeholder:text-body outline-none transition-colors resize-none"
                        [placeholder]="'contact.messagePlaceholder' | translate" required></textarea>
                </div>

                @if (!isFormValid()) {
                <div class="bg-purple-400 rounded-xl p-3 animate-[bounce_0.1s]">
                    <p>{{"contact.note" | translate}}</p>
                    <p>{{"contact.validation1" | translate}}</p>
                    <p>{{"contact.validation2" | translate}}</p>
                </div>
                }@else {
                <div class="bg-blue-400 rounded-xl p-3 animate-[bounce_0.1s]">
                    <p>{{"contact.correctValidation" | translate}}</p>
                </div>
                }

                <input type="text" name="_gotcha" class="hidden" tabindex="-1" autocomplete="off" />

                <div class="relative">


                    <button #clickBtn (click)="onSend($event)"
                        class="btn relative bg-linear-to-r cursor-pointer from-purple-600 to-fuchsia-400 hover:to-fuchsia-800 disabled:cursor-not-allowed rounded-xl py-3.5 px-10 font-semibold hover:opacity-90 transition-opacity self-start"
                        type="submit">
                        {{"contact.sendButton" | translate}}
                    </button>

                    @if (showError()) {
                    <div class="bg-red-400 rounded-xl mt-5 p-3 animate-bounce">
                        {{"contact.error" | translate}}
                    </div>
                    }

                    @if (isFormValid()) {
                    @defer (on interaction(clickBtn)) {
                    @defer (on timer(2s)) {
                    <div class="absolute -bottom-2 end-10 overflow-hidden p-5 rounded-2xl">
                        <div
                            class="absolute -start-40 -top-10 bg-linear-to-r from-purple-300 to-fuchsia-400 animate-spin size-150 z-0">
                        </div>

                        <span class="relative z-10 text-xl">
                            {{"contact.success" | translate}}
                        </span>
                    </div>
                    }
                    }
                    }
                </div>
            </form>
        </div>

        @if (showScrollTop) {
        <div class="fixed bottom-10 right-8">
            <a href="#home" class="scrollUpBtn flex justify-center items-center rounded-full bg-black p-3">
                <i class="fa-solid fa-arrow-up"></i>
            </a>
        </div>
        }

    </div>

</section>